body {
  overflow-x: hidden;
  background-color: #dcd6F7;
}

#hero-section {
  background-image: 
    linear-gradient(rgba(10,0,30,0.6), rgba(10,0,30,0.6)), url("https://lens.usercontent.google.com/image?vsrid=CIGaiYLbupKowwEQAhgBIiRlNzdkNTJjNS0wYTQwLTRlOTctYjAyZS0zODM1M2Q3MzFiNmEyBiICYmkoBTizkquvh_SOAw&gsessionid=Nh7r4IOepVM65dF-pbDX56vpbsh5Xp5V4lQtXIsEsbfGE0QHJ1t3_Q");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-shadow: 1px 1px #424874;
}

#hero-section img {
  border-radius: 50%;
  border: 0.7em solid rgba(10,0,30,.3);
  width: clamp(20vw, 15em, 40vw);
}

#hero-section h1 {
  color: #e6deff;
  font-family: "Marcellus", serif;
}

#hero-section p {
  color: #e6deff;
  font-family: "Montserrat", sans-serif;
}

#footer-section {
  text-align: center;
  background-color: #000000;
  color: #AFB9E4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
}

#footer-section p {
  margin: 0;
  font-family: Arial, sans-serif;
}

i {
  color: #F4EEFF;
  font-size: 2rem;
}

@media screen and (orientation: landscape) {
  i {
    margin-left: 20px;
  }
}

.nav-item {
  color: #130d24;
  margin-right: 20px;
}

#mission-section {
  background-color: #130d24;
  padding: 1rem;
}

@media (min-width: 768px) {
  #mission-section {
    padding: 2rem 4rem 4rem 4rem;
  }
}

#mission-section h1 {
  text-align: center;
  font-family: "Montserrat", serif;
  color: #e6deff;
  padding-bottom: 1rem;
}

@media (max-width: 767px) {
  #mission-section h1 {
    padding-top: 0.5rem;
  }
}

@media (min-width: 768px) {
  #mission-section h1 {
    padding-bottom: 2rem;
  }
}

#mission-section p {
  padding: 1em;
  color: #e6deff;
  font-family: Arial, sans-serif;
}

#projects-section {
  background-color: #130d24;
  padding: 1rem;
}

@media (max-width: 767px) {
  #projects-section {
    padding: 1rem 0 2rem 0;
  }
}

@media (min-width: 768px) {
  #projects-section {
    padding: 2rem 0 6rem 0;
  }
}

#projects-section h1 {
  color: #e6deff;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
}

#projects-section p {
  color: #e6deff;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 768px) {
  #projects-section h1 {
    padding-bottom: 3rem;
  }
}

#projects-section i {
  color: #e6deff;
  font-size: 4rem;
}

#projects-section i:hover {
  color: #424874;
}

#skills-section {
  background-color: #130d24;
  text-align: center;
}

@media (max-width: 767px) {
  #skills-section {
    padding: 2rem 0;
  }
}

@media (min-width: 768px) {
  #skills-section {
    padding: 3rem 4rem 5rem 4rem;
  }
}

#skills-section i {
  font-size: 4rem;
  color: #e6deff;
}

#skills-section h1 {
  padding-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #e6deff;
}

@media (min-width: 768px) {
  #skills-section h1 {
    padding-bottom: 2rem;
  }
}

#skills-section p {
  font-family: Arial, sans-serif;
  color: #e6deff;
}

#contact-section {
  background-color: #130d24;
  text-align: center;
}

@media (max-width: 767px) {
  #contact-section {
    padding: 1rem 0 2rem 0;
  }
}

@media (min-width: 768px) {
  #contact-section {
    padding: 2rem 0 6rem 0;
  }
}

#contact-section h1 {
  color: #e6deff;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 768px) {
  #contact-section h1 {
    padding-bottom: 3rem;
  }
}

#contact-section i {
  color: #e6deff;
  font-size: 4rem;
}

#contact-section i:hover {
  color: #424874;
}

#hero-section,
#footer-section,
#mission-section,
#projects-section,
#skills-section,
#contact-section {
  overflow: hidden;
}

#mission-target,
#projects-target,
#skills-target,
#contact-target {
  position: relative;
  top: -100px;
}
